<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/practice" />
		<property name="username" value="root" />
		<property name="password" value="unix" />
	</bean>
	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<constructor-arg index="0" ref="dataSource"/>
	</bean>
	
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="transactionDefinition" class="org.springframework.transaction.support.DefaultTransactionDefinition">
	</bean>
	
	<bean id="employeeJdbcTemplate" class="com.practice.self.project.spring.transaction.EmployeeJdbcTemplate">
		<property name="dataSource" ref="dataSource" />
		<property name="jdbcTemplate" ref="jdbcTemplate" />
		<property name="transactionManager" ref="transactionManager" />
		<property name="transactionDefinition" ref="transactionDefinition" />
	</bean>

	<bean id="es1" class="com.practice.self.project.spring.transaction.EmployeeSalary">
		<property name="id" value="1" />
		<property name="name" value="Alex Foster" />
		<property name="department" value="Engineering" />
		<property name="sid" value="1" />
		<property name="salary" value="3500000" />
		<property name="year" value="2001" />
	</bean>
	
	<bean id="es2" class="com.practice.self.project.spring.transaction.EmployeeSalary">
		<property name="id" value="2" />
		<property name="name" value="Jamie Longhorne" />
		<property name="department" value="Operations" />
		<property name="sid" value="2" />
		<property name="salary" value="2300000" />
		<property name="year" value="1998" />
	</bean>
	
	<bean id="es3" class="com.practice.self.project.spring.transaction.EmployeeSalary">
		<property name="id" value="3" />
		<property name="name" value="Jodie Longhorne" />
		<property name="department" value="Quality" />
		<property name="sid" value="3" />
		<property name="salary" value="2750000" />
		<property name="year" value="1995" />
	</bean>
	
</beans>