<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<context:annotation-config/>
	
	<bean id="helloEventfulWorld" class="com.practice.self.project.spring.events.HelloEventfulWorld">
		<property name="message" value="Hello from an eventful world !" />
	</bean>
	
	<bean id="appContextRefreshedEvent" class="com.practice.self.project.spring.events.AppContextRefreshedEvent" />
	<bean id="appContextStartedEvent" class="com.practice.self.project.spring.events.AppContextStartedEvent" />
	<bean id="appContextStoppedEvent" class="com.practice.self.project.spring.events.AppContextStoppedEvent" />
	<bean id="customEventPublisher" class="com.practice.self.project.spring.events.CustomEventPublisher" />
	<bean id="appContextCustomEvent" class="com.practice.self.project.spring.events.AppContextCustomEvent" />
</beans>
